body{
    font-family: sans-serif;
    margin: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#Navbar{
    padding: 15px;
    border: 1px solid;
}

#navigation{
    padding-left: 140px;
}

.Navbar2{
    padding: 5px;
    display:inline-block;
}

#Navbar22{
    padding-left: 35px;
}

.Content{
    display: flex;
}

.Colum{
    padding: 5px;
    border: 1px solid;
    width: 10%;
}

#Center{
    padding: 50px;
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    height:100vh;
    height:100vh;
}

.titutable{
    text-align:center
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding:15px;
    margin: auto;

}

.ind{
    padding-left: 45px;
    font-weight: 900;
    text-align: left
}