body{
    font-family: sans-serif;
    margin: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#Navbar{
    padding: 15px;
    border: 1px solid;
}

#navigation{
    padding-left: 140px;
}

.Navbar2{
    padding: 5px;
    display:inline-block;
}

#Navbar22{
    padding-left: 35px;
}

.Content{
    display: flex;
}

.Colum{
    padding: 5px;
    border: 1px solid;
    width: 10%;
}

#Center{
    padding: 50px;
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    height:100vh;
    height:100vh;
}

.titutable{
    text-align:center
}

form {
    width: 100%;
    border: 1px solid black;
    margin-top: 25px;
}

label {
    padding: 25px;
    font-weight: 900;
    text-align: left;
    margin: auto;
}

input {
    margin-top: 25px;
    width: 50%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 4px;
}

#but{
    margin: 25px;
    align-items: center;
}



